{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<style>
    .prjdiv:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        transform: translateY(-20px)
    }

    div.transparentbox1 {

        opacity: 0.6;

        filter: alpha(opacity=60);

    }

    div.transparentbox1 p {
        margin-top: 10%;
        margin-left: 31%;
        font-weight: bold;
        font-Size: 60px;
        font-family: 'Monotype Corsiva';
        color: #E6120E;
        font-weight: bold;
        text-align: center;
    }

    #circle {
        background: green;
        border-radius: 50%;
        width: 100%;
        height: 60px;
    }
</style>
<div
    style="background-attachment:absolute;
    background-position:0% 0%;
  background-size: cover;background-image: url('{% static 'images/back17.jpg' %}');background-repeat: no-repeat;width:100%;height:100%;position:absolute;">
    <div class="container" style="color:white">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="container" style="margin-top:2%">
                    <section id="google-map">
                        <iframe style="height:360px"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15927378.345461609!2d68.61042075000002!3d12.938536099999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1500181dac25%3A0x62b8fcb88c7cf902!2sGlimmer&#39;s%20Beauty%20Parlour!5e0!3m2!1sen!2sin!4v1729876716089!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </section>

                    <h3>CONTACT US</h3>
                    <hr>
                    <p>Email ID : glimmersbeautyparlour@gmail.com</p>
                    <p>Contact : +91 8088669756</p>
                    <p>Address : Basavanagudi, Bengaluru, Karnataka 560004</p>
                    <p>Office Hours : 10:00 am to 7:00 pm</p>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="transparentbox1">
                                <p id="circle"><i class="fa fa-facebook" style="color:white"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="transparentbox1">
                                <p id="circle"><i class="fa fa-telegram" style="color:white;"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="transparentbox1">
                                <p id="circle"><i class="fa fa-google-plus-official" style="color:white;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}